@font-face {
    font-family: "curses8x12";
    src: url("fonts/curses8x12.woff2") format("woff2"),
        url("fonts/curses8x12.woff") format("woff"),
        url("fonts/curses8x12.ttf") format("ttf"),
        url("fonts/curses8x12.otf") format("otf");
}

@font-face {
    font-family: "curses10x12";
    src: url("fonts/curses10x12.woff2") format("woff2"),
        url("fonts/curses10x12.woff") format("woff"),
        url("fonts/curses10x12.ttf") format("ttf"),
        url("fonts/curses10x12.otf") format("otf");
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 12px;
    line-height: 1em;
    font-kerning: 0;
    font-family: "curses8x12", "Courier New";
}

input.jscolor {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.0);
    font-family: "curses10x12";
    font-size: 12px;
}

div.wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    border: 0;
}

table {
    border-spacing: 0;
}

div.example {
    background-color: black;
    width: 200px;
    color: black;
    font-weight: 500;
    letter-spacing: 0;
}

div.output {
    margin: 5px;
    display: inline-block;
    width: 150px;
    padding-left: 5px;
}

[name="RGB_BLACK"] {
    background-color: rgb(0, 0, 0);
}

[name="RGB_BLUE"] {
    color: rgb(0, 0, 128);
}

[name="RGB_GREEN"] {
    color: rgb(0, 128, 0);
}

[name="RGB_CYAN"] {
    color: rgb(0, 128, 128);
}

[name="RGB_RED"] {
    color: rgb(128, 0, 0);
}

[name="RGB_MAGENTA"] {
    color: rgb(128, 0, 128);
}

[name="RGB_BROWN"] {
    color: rgb(128, 128, 0);
}

[name="RGB_LGRAY"] {
    color: rgb(192, 192, 192);
}

[name="RGB_DGRAY"] {
    color: rgb(128, 128, 128);
}

[name="RGB_LBLUE"] {
    color: rgb(0, 0, 255);
}

[name="RGB_LGREEN"] {
    color: rgb(0, 255, 0);
}

[name="RGB_LCYAN"] {
    color: rgb(0, 255, 255);
}

[name="RGB_LRED"] {
    color: rgb(255, 0, 0);
}

[name="RGB_LMAGENTA"] {
    color: rgb(255, 0, 255);
}

[name="RGB_YELLOW"] {
    color: rgb(255, 255, 0);
}

[name="RGB_WHITE"] {
    color: rgb(255, 255, 255);
}

.BGC_BLACK {
    background-color: rgb(0, 0, 0);
}

.BGC_BLUE {
    background-color: rgb(0, 0, 128);
}

.BGC_GREEN {
    background-color: rgb(0, 128, 0);
}

.BGC_CYAN {
    background-color: rgb(0, 128, 128);
}

.BGC_RED {
    background-color: rgb(128, 0, 0);
}

.BGC_MAGENTA {
    background-color: rgb(128, 0, 128);
}

.BGC_BROWN {
    background-color: rgb(128, 128, 0);
}

.BGC_LGRAY {
    background-color: rgb(192, 192, 192);
}

.BGC_DGRAY {
    background-color: rgb(128, 128, 128);
}

.BGC_LBLUE {
    background-color: rgb(0, 0, 255);
}

.BGC_LGREEN {
    background-color: rgb(0, 255, 0);
}

.BGC_LCYAN {
    background-color: rgb(0, 255, 255);
}

.BGC_LRED {
    background-color: rgb(255, 0, 0);
}

.BGC_LMAGENTA {
    background-color: rgb(255, 0, 255);
}

.BGC_YELLOW {
    background-color: rgb(255, 255, 0);
}

.BGC_WHITE {
    background-color: rgb(255, 255, 255);
}

#preview {
    float: right;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    font-family: "curses10x12";
}

#map, .map > table {
    table-layout: fixed;
}

#map > tbody > tr > td, .map > table > tbody > tr > td {
    margin: 0;
    border: 0;
    padding: 0;
    height: 12px;
    word-wrap: break-word;
}

#map > tbody > tr > td > div, .map > table > tbody > tr > td > div {
    margin: 0;
    border: 0;
    padding: 0;
    height: 12px;
    word-wrap: break-word;
    text-align: center;
}

#stones > tbody > tr > td {
    height: 12px;
}


.creatures {
    padding-left: 10px;
    padding-top: 10px;
}

.category {
    font-size: 24px;
    line-height: 1em;
}

.category-items {
    border-top: 1px solid white;
    font-size: 12px;
    line-height: 1em;
    padding: 10px;
    margin-right: 10px;
}

.category-items > div {
    display: inline-block;
    width: 280px;
}

.creature-icon {
    padding-right: 10px;
}

table.colors > tbody > tr > td {
    padding: 0;
    height: 140px;
}

.colors {
    width: 100%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileName {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    padding-top: 5px;
    padding: 0 12px;
}

.fileName > input {
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    color: white;
    background-color: black;
    font-family: inherit;
    font-size: 12px;
    padding: 4px 12px;
    width: 250px;
}

.buttonWrapper {
    position: relative;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    background-color: black;
}

.buttonWrapper:hover {
    background-color: gray;
}

input.button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.presetSelector {
    display: inline-block;
    margin: 10px;
}

.presetSelector select {
    height: 27px;
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 12px;
    top: -19px;
    position: relative;
}
